.btn-secondary {
  --bs-btn-bg: #1c4872;
  font: 12px "OpenSans";
  border-width: 1px;
  border-color: #1c4872;
  border-radius: 0px;
  width: 50%;
  letter-spacing: 1.31px;
  height: 50px;

  .chevron-right-icon1 {
    color: #ebf0f3;
    height: 15px;
  }

  .chevron-right-icon2 {
    color: #ebf0f3;
    margin-left: -10px;
    height: 15px;
  }
}
