/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
  width: 100%;
  p,h1,h2,h3,h4,h5,h6{
      margin:0;
  }
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.ttf");
}


body { margin: 0; font-family: "Montserrat", "Helvetica Neue", sans-serif; }


.Opensans {
  font-family: OpenSans;
}

.Montserrat {
  font-family: Montserrat;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
